* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
input[type="text"] {
    padding: 9px;
    border-radius: 3px;
}

.box {
    height: 100px;
    width: 100vh;
    background-color: rgb(183, 183, 183);
    border: solid 3px black;
    border-radius: 3px;
}

h1 {
    font-size: 6vh;
    color: rgb(31, 72, 80);
    text-align: center;
    margin-top: 1vh;
    padding-top: 8vh;
    padding-bottom: 8vh;
}
.container {
    background-color: rgb(73, 165, 183);
    margin: 10vh;
}
.hexComponent {
    padding-left: 28vh;
}
.sliderComponent {
    padding-top: 4vh;
    padding-left: 22vh;
}
.inputColorComponent {
    padding-top: 4vh;
    padding-left: 22vh;
}
.alteredColorComponent {
    padding-top: 4vh;
    padding-left: 22vh;
    padding-bottom: 6vh;
}
